html{
    font-family: 'Roboto', sans-serif;
}

.main-card{
    max-width: 900px;
    height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
}

.main-card input, .main-card h2, .main-card p{
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

h2{
    padding: 5%;
}

p{
    padding: 2%;
}

.user-actual, .user-offer{
    margin: 5%;
    display: flex;
    flex-flow: wrap;
}