html{
    font-family: 'Roboto', sans-serif;
}

.main-card{
    max-width: 900px;
    height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
}

.main-card input, .main-card h2, .main-card p{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

h2{
    padding: 5%;
}

p{
    padding: 2%;
}

#btn-confirm {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  #btn-confirm:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  #btn-confirm:main,
  #btn-confirm:focus {
    user-select: auto;
  }
  
  #btn-confirm:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  #btn-confirm:disabled {
    cursor: auto;
  }

.user-actual, .user-offer{
    margin: 5%;
    display: flex;
    flex-flow: wrap;
    line-height: 30px;
}


.user-offer strong{
    color: green
}
